<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">
    <div class="container">
        <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-filter"></i>
                        </span>
                        <div class="input-group-btn">
                            <select id="caseField">
                                <th:block th:each="propTtl : ${casePropertyTitles}">
                                    <option th:if="${propTtl.value}" th:value="${propTtl.key}"
                                        th:text="${propTtl.value}"></option>
                                    <option th:if="${propTtl.value == null}" th:value="${propTtl.key}"
                                        th:text="${propTtl.key}"></option>
                                </th:block>
                            </select>
                        </div>
                        <input id="caseValue" type="text" class="form-control">
                        <div class="input-group-btn">
                            <select id="caseType">
                                <option value="string" th:text="#{ui.search.string}"></option>
                                <option value="number" th:text="#{ui.search.number}"></option>
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <button id="addCaseCriterion" type="button" class="btn btn-success">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-filter"></i>
                        </span>
                        <div class="input-group-btn">
                            <select id="subjectField">
                                <th:block th:each="propTtl : ${subjectPropertyTitles}">
                                    <option th:if="${propTtl.value}" th:value="${propTtl.key}"
                                        th:text="${propTtl.value}"></option>
                                    <option th:if="${propTtl.value == null}" th:value="${propTtl.key}"
                                        th:text="${propTtl.key}"></option>
                                </th:block>
                            </select>
                        </div>
                        <input id="subjectValue" type="text" class="form-control">
                        <div class="input-group-btn">
                            <select id="subjectType">
                                <option value="string" th:text="#{ui.search.string}"></option>
                                <option value="number" th:text="#{ui.search.number}"></option>
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <button id="addSubjectCriterion" type="button" class="btn btn-success">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-tags"></i>
                        </span>
                        <input id="tags" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <input id="search" type="button" class="form-control btn btn-primary" th:value="#{ui.search.find}">
                </div>
            </form>
        </div>

        <div class="row">
            <div id="result"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#caseField, #caseType, #subjectField, #subjectType').selectpicker({
                width: 'fit'
            });

            $('#search').click(function () {
                // if ($('#tags').tagsinput('items').length == 0) return false;

                axios.post('/search', $('#tags').tagsinput('items'))
                    .then((response) => {
                        $('#result').html(response.data);
                    });
            });

            $('#addCaseCriterion').click(function () {
                if (!$('#caseValue').val()) return false;

                let type = $('#caseType option:selected').val();
                let text = $('#caseField option:selected').text();
                let key = $('#caseField option:selected').val();
                let value = $('#caseValue').val();
                value = (type == 'string' ? value : Number(value)) || 0;
                let valueStr = (type == 'string' ? '"' + value + '"' : (value || 0));
                $('#tags').tagsinput('add', {
                    text: text + '[' + valueStr + ']',
                    value: value,
                    key: key,
                    type: 'CaseStudy'
                });
            });

            $('#addSubjectCriterion').click(function () {
                if (!$('#subjectValue').val()) return false;

                let type = $('#subjectType option:selected').val();
                let text = $('#subjectField option:selected').text();
                let key = $('#subjectField option:selected').val();
                let value = $('#subjectValue').val();
                value = (type == 'string' ? value : Number(value)) || 0;
                let valueStr = (type == 'string' ? '"' + value + '"' : (value || 0));
                $('#tags').tagsinput('add', {
                    text: text + '[' + valueStr + ']',
                    value: value,
                    key: key,
                    type: 'Subject'
                });
            });

            $('#tags').tagsinput({
                itemValue: 'value',
                itemText: 'text',
                itemKey: 'key'
            });
        });
    </script>
</section>

</html>