<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:include="fragments/header :: header-common"></th:block>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar-login"></nav>

	<div class="container">
		<div
			class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<form>
				<div class="form-group">
					<div class="input-group">
						<select id="field" class="selectpicker">
							<th:block th:each="propTtl : ${propertyTitles}">
								<option th:if="${propTtl.value}" th:value="${propTtl.key}"
									th:text="${propTtl.value}"></option>
								<option th:if="${propTtl.value == null}"
									th:value="${propTtl.key}" th:text="${propTtl.key}"></option>
							</th:block>
						</select> <input id="value" type="text" class="form-control"> <select
							id="type" class="selectpicker">
							<option value="string" th:text="#{ui.search.string}"></option>
							<option value="number" th:text="#{ui.search.number}"></option>
						</select>
						<div class="input-group-btn">
							<button id="addCriterion" type="button" class="btn btn-default">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input id="tags" type="text">
				</div>
				<div class="form-group">
					<input id="search" type="button"
						class="form-control btn btn-primary"
						th:value="#{ui.search.find}">
				</div>
			</form>
		</div>

		<div class="row">
			<div id="result"></div>
		</div>
	</div>

	<script type="text/javascript">
	$(function() {
		$('#search').click(function() {
			if($('#tags').tagsinput('items').length == 0) return false;
			
			axios.post('/search', $('#tags').tagsinput('items'))
				.then(function (response) {
					$('#result').html(response.data);
				})
				.catch(function (error) {
					console.log(error);
				});
		});
		
		$('#addCriterion').click(function() {
			if (!$('#value').val()) return false;
			
			let type = $('#type option:selected').val();
			let text = $('#field option:selected').text();
			let key = $('#field option:selected').val();
			let value = $('#value').val();
			value = (type == 'string' ? value : Number(value)) || 0;
			let valueStr = (type == 'string' ? '"' + value + '"' : (value || 0));
			$('#tags').tagsinput('add', {
				text: text + '[' + valueStr +']',
				value: value,
				key: key
			});
		});
		
		$('#tags').tagsinput({
			itemValue: 'value',
			itemText: 'text'
		});
	});
	</script>
</body>
</html>