<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCRC Manager</title>

    <!-- Avatar -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- colors.css -->
    <link rel="stylesheet" href="/node_modules/colors.css/css/colors.min.css" />

    <!-- Axios -->
    <script src="/node_modules/axios/dist/axios.min.js"></script>

    <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-cerulean.min.css" />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- React.js -->
    <script src="/node_modules/react/umd/react.production.min.js"></script>
    <script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>

    <!-- React JSON schema form -->
    <script src="/node_modules/react-jsonschema-form/dist/react-jsonschema-form.js"></script>

    <!-- RJSF -->
    <!-- <div th:replace="ReactJSF :: core"></div> -->
    <script src="/js/react-jsf.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />

    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Tagsinput -->
    <link rel="stylesheet" href="/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
    <script src="/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

    <!-- jQuery Datatables -->
    <script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <script src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- jQuery Datatables with Spring -->
    <script src="/js/jquery.spring-friendly.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/node_modules/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Reflow Table -->
    <link rel="stylesheet" href="/node_modules/jquery-reflow-table/dist/css/reflow-table.min.css" />
    <script src="/node_modules/jquery-reflow-table/dist/js/reflow-table.min.js"></script>

    <!-- CSS Custom -->
    <link rel="stylesheet" href="/css/bootstrap-custom.css" />

    <!-- Less.js & stylesheets -->
    <!-- <link rel="stylesheet/less" href="/css/bootstrap-custom.less" /> -->
    <!-- <script src="/node_modules/less/dist/less.min.js"></script> -->

    <script>
        $(function () {
            ReactJSF.defaultConfig({
                cssHref: '/css/bootstrap-readable.min.css',
                newBtnText: '送出',
                editBtnText: '送出',
                showBtnText: '返回'
            });
        });
    </script>
</head>

<body>
    <nav th:replace="fragments/navbar :: login"></nav>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
</body>

</html>