<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h3 th:replace="fragments/form :: title(text=${item.trialName}, backUrl=${item.showPath})">
        </h3>
        <hr>

        <div id="jsfForm"></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            let onSubmit = (f) => {
                axios.post( /*[[${item.joinPath('emails')}]]*/ null, f.formData)
                    .then((response) => {
                        $('#jsf').html(response.data);
                    });
            };

            let rjsfOpt = Object.assign({
                btnText: /*[[#{rjsf.submit}]]*/'送出',
                onSubmit: onSubmit
            }, /*[[${emails.toRjsfMap()}]]*/ {});

            ReactDOM.render(React.createElement(ReactJSF, rjsfOpt),
                document.getElementById('jsfForm'));
        });
    </script>
</div>

</html>