<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header-common" />
<body>
	<nav th:replace="fragments/navbar :: navbar-login"></nav>

	<div class="container">
		<table id="cases" class="display">
			<thead>
				<tr>
					<th>年度</th>
					<th>IRB/REC案件編號</th>
					<th>試驗中文名稱</th>
					<th>試驗英文名稱</th>
					<th>計畫主持人姓名</th>
					<th>新案狀態</th>
					<th>CRC狀態</th>
					<th>PI/SC狀態</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="case : ${jsfItems}">
					<td th:text="${case.year}"></td>
					<td><a th:href="@{'/cases/' + ${case.id} + '/crc' }"
						th:text="${case.caseNumber}"></a></td>
					<td th:text="${case.trialName}"></td>
					<td th:text="${case.trialNameEng}"></td>
					<td th:text="${case.piName}"></td>
					<td th:if="${case.formDone}"><i class="fa fa-check"></i></td>
					<td th:if="${!case.formDone}"></td>
					<td th:if="${case.crc.formDone}"><i class="fa fa-check"></i></td>
					<td th:if="${!case.crc.formDone}"></td>
					<td th:text="${#lists.size(case.subjects)}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		$(document).ready(function() {
			$('#cases').DataTable({
				"language" : {
					"url" : "/i18n/datatables-zh-TW.json"
				}
			});
		});
	</script>
</body>
</html>