<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="editor-list" id="editorList" class="list-group">
	<li class="list-group-item"><span id="editor">請選擇管理者</span><i id="addEditor" class="fa fa-plus pull-right"
		style="color: green; margin-top: 3px;"></i></li>
	<li class="list-group-item" th:each="editor : ${case.editors}"><span th:text="${editor}"></span><i th:attr="val=${editor}"
		class="removeEditor fa fa-remove pull-right" style="color: red; margin-top: 3px;"></i></li>

<script th:inline="javascript">
$("#addEditor").click(function() {
  if(!$("#editor").val()) return false;
  axios.post('/cases/[[${case.id}]]/permission/editors', {
    	editor: $("#editor").val()
  	})
	.then(function (response) {
		$('#editorList').html(response.data);
	})
	.catch(function (error) {
		console.log(error);
	});
  return false;
});

$(".removeEditor").click(function() {
  axios.delete('/cases/[[${case.id}]]/permission/editors', {
    	params: {
	  		editor: $(this).attr('val')
	  	}
	})
	.then(function (response) {
		$('#editors').html(response.data);
	})
	.catch(function (error) {
		console.log(error);
	});
	return false;
});
</script>
</ul>
</html>