<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="editor-list" id="editorList" class="list-group"
	style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
	<li class="list-group-item"><span id="editor"
			th:text="#{ui.permission.editor.select}"></span><i id="addEditor"
		class="fa fa-plus pull-right" style="color: green; margin-top: 3px;"></i></li>
	<li class="list-group-item" th:each="editor : ${case.editors}"><span
			th:text="${editor}"></span><i th:attr="val=${editor}"
		class="removeEditor fa fa-times pull-right"
		style="color: red; margin-top: 3px;"></i></li>

	<script th:replace="fragments/notify :: notify"></script>
	<script type="text/javascript" th:inline="javascript">
	$('#addEditor').click(function() {
		if(!$('#editor').val()) return false;
		
		axios.post('/cases/[[${case.id}]]/permission/editors', {
				editor: $('#editor').val()
			})
			.then(function (response) {
				$('#editorList').html(response.data);
				
				$('#manager').text([[#{ui.permission.manager.select}]]);
				$('#manager').val('');
				$('#editor').text([[#{ui.permission.editor.select}]]);
				$('#editor').val('');
				$('#viewer').text([[#{ui.permission.viewer.select}]]);
				$('#viewer').val('');
			})
			.catch(function (error) {
				console.log(error);
			});
		
		return false;
	});

	$('.removeEditor').click(function() {
		axios.delete('/cases/[[${case.id}]]/permission/editors', {
				params: {
					editor: $(this).attr('val')
				}
			})
			.then(function (response) {
				$('#editors').html(response.data);
			})
			.catch(function (error) {
				console.log(error);
			});
		
		return false;
	});
	</script>
</ul>
</html>