<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial" id="editorList">
  <ul class="list-group" style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
    <li class="list-group-item">
      <span id="editor" th:text="#{ui.permission.editor.select}"></span>
      <a class="pull-right vcenter">
        <i id="addEditor" class="fa fa-plus green"></i>
      </a>
    </li>
    <li class="list-group-item" th:each="editor : ${item.editors}">
      <span th:text="${editor}"></span>
      <a class="pull-right vcenter">
        <i th:attr="val=${editor}" class="removeEditor fa fa-times red"></i>
      </a>
    </li>
  </ul>

  <script th:replace="fragments/bs :: notify"></script>
  <script type="text/javascript" th:inline="javascript">
    $('#addEditor').click(function () {
      if (!$('#editor').val()) return false;

      axios.post(/*[[${item.joinPath('permission', 'editors')}]]*/null, {
        editor: $('#editor').val()
      }).then(function (response) {
        $('#editorList').html(response.data);

        $('#manager').text(/*[[#{ui.permission.manager.select}]]*/null);
        $('#manager').val('');
        $('#editor').text(/*[[#{ui.permission.editor.select}]]*/null);
        $('#editor').val('');
        $('#viewer').text(/*[[#{ui.permission.viewer.select}]]*/null);
        $('#viewer').val('');
      });

      return false;
    });

    $('.removeEditor').click(function () {
      axios.delete(/*[[${item.joinPath('permission', 'editors')}]]*/null, {
        params: {
          editor: $(this).attr('val')
        }
      }).then(function (response) {
        $('#editors').html(response.data);
      });

      return false;
    });
  </script>
</div>

</html>