<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="partial" id="managerList">
  <ul class="list-group" style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
    <li class="list-group-item">
      <span id="manager" th:text="#{ui.permission.manager.select}"></span>
      <span class="pull-right vcenter">
        <i id="addManager" class="fa fa-plus green"></i>
      </span>
    </li>
    <li class="list-group-item" th:each="manager : ${item.managers}">
      <span th:text="${manager}"></span>
      <span class="pull-right vcenter">
        <i th:attr="val=${manager}" class="removeManager fa fa-times red"></i>
      </span>
    </li>
  </ul>

  <script th:replace="fragments/bs :: notify"></script>
  <script type="text/javascript" th:inline="javascript">
    $('#addManager').click(function () {
      if (!$('#manager').val()) return false;

      axios.post(/*[[${item.joinPath('permission', 'managers')}]]*/null, {
        manager: $('#manager').val()
      }).then(function (response) {
        $('#managerList').html(response.data);

        $('#manager').text(/*[[#{ui.permission.manager.select}]]*/null);
        $('#manager').val('');
        $('#editor').text(/*[[#{ui.permission.editor.select}]]*/null);
        $('#editor').val('');
        $('#viewer').text(/*[[#{ui.permission.viewer.select}]]*/null);
        $('#viewer').val('');
      });

      return false;
    });

    $('.removeManager').click(function () {
      axios.delete(/*[[${item.joinPath('permission', 'managers')}]]*/null, {
        params: {
          manager: $(this).attr('val')
        }
      }).then(function (response) {
        $('#managers').html(response.data);
      });

      return false;
    });
  </script>
</div>

</html>