<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="viewer-list" id="viewerList" class="list-group"
	style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
	<li class="list-group-item"><span id="viewer">請選擇閱覽者</span><i
		id="addViewer" class="fa fa-plus pull-right"
		style="color: green; margin-top: 3px;"></i></li>
	<li class="list-group-item" th:each="viewer : ${case.viewers}"><span
			th:text="${viewer}"></span><i th:attr="val=${viewer}"
		class="removeViewer fa fa-times pull-right"
		style="color: red; margin-top: 3px;"></i></li>

	<script th:replace="fragments/notify :: notify"></script>
	<script th:inline="javascript">
    $("#addViewer").click(function() {
      if(!$("#viewer").val()) return false;
      axios.post('/cases/[[${case.id}]]/permission/viewers', {
            viewer: $("#viewer").val()
        })
        .then(function (response) {
            $('#viewerList').html(response.data);
            
            $("#manager").text('請選擇管理者');
            $("#manager").val('');
            $("#editor").text('請選擇編輯者');
            $("#editor").val('');
            $("#viewer").text('請選擇閱覽者');
            $("#viewer").val('');
        })
        .catch(function (error) { 
            console.log(error);
        });
      return false;
    });

    $(".removeViewer").click(function() {
      axios.delete('/cases/[[${case.id}]]/permission/viewers', {
        params: {
          viewer: $(this).attr('val')
        }
      })
      .then(function (response) {
        $('#viewers').html(response.data);
      })
      .catch(function (error) {
        console.log(error);
      });
      return false;
    });
        </script>
</ul>
</html>