<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="partial" id="viewerList">
  <ul class="list-group" style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
    <li class="list-group-item">
      <span id="viewer" th:text="#{ui.permission.viewer.select}"></span>
      <a class="pull-right vcenter">
        <i id="addViewer" class="fa fa-plus green"></i>
      </a>
    </li>
    <li class="list-group-item" th:each="viewer : ${item.viewers}">
      <span th:text="${viewer}"></span>
      <a class="pull-right vcenter">
        <i th:attr="val=${viewer}" class="removeViewer fa fa-times red"></i>
      </a>
    </li>
  </ul>

  <script th:replace="fragments/bs :: notify"></script>
  <script type="text/javascript" th:inline="javascript">
    $('#addViewer').click(function () {
      if (!$('#viewer').val()) return false;

      axios.post(/*[[${item.joinPath('permission', 'viewers')}]]*/null, {
        viewer: $('#viewer').val()
      }).then(function (response) {
        $('#viewerList').html(response.data);

        $('#manager').text(/*[[#{ui.permission.manager.select}]]*/null);
        $('#manager').val('');
        $('#editor').text(/*[[#{ui.permission.editor.select}]]*/null);
        $('#editor').val('');
        $('#viewer').text(/*[[#{ui.permission.viewer.select}]]*/null);
        $('#viewer').val('');
      });

      return false;
    });

    $('.removeViewer').click(function () {
      axios.delete(/*[[${item.joinPath('permission', 'viewers')}]]*/null, {
        params: {
          viewer: $(this).attr('val')
        }
      }).then(function (response) {
        $('#viewers').html(response.data);
      });

      return false;
    });
  </script>
</div>

</html>