<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 th:replace="fragments/form :: title(text=${parent.trialName}, backUrl=${route.indexPath})"></h3>

            <hr>

            <div id="jsfForm"></div>
        </div>
    </div>

    <script
        th:replace="ReactJSF :: edit( ${child.toRjsfMap()}, '#jsfForm', ${parent.withChild(child).updatePath}, '#jsf' )"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('input[type="date"]').attr({
                min: '1900-01-01',
                max: '2100-12-31'
            });
        });
    </script>
</div>

</html>