<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="partial">
	<h3 th:replace="fragments/form :: title(text=${parent.trialName}, backUrl=${parent.indexPath})">
	</h3>
	<hr>
	<form th:if="${@perm.canWrite(parent)}" id="batchDating" th:action="${route.joinPath('batchdating')}" method="POST">
		<div class="form-row">
			<div class="form-group col-md-1"></div>
			<div class="form-group col-md-5">
				<select id="subjectDateType" name="subjectDateType" class="form-control" form="batchDating">
					<option value="icfDate" th:text="#{ui.subject.date.icf}" selected></option>
					<option value="examDate" th:text="#{ui.subject.date.exam}"></option>
					<option value="accrualDate" th:text="#{ui.subject.date.accrual}"></option>
					<option value="completeDate" th:text="#{ui.subject.date.complete}"></option>
					<option value="dropoutDate" th:text="#{ui.subject.date.dropout}"></option>
					<option value="bundleNumber" th:text="#{ui.subject.bundle.number}"></option>
				</select>
			</div>
			<div id="batchDateDiv" class="form-group col-md-4">
				<input type="date" class="form-control" id="subjectDate" name="subjectDate" min="1900-01-01"
					max="2100-12-31">
			</div>
			<div id="bundleNumberDiv" class="form-group col-md-4 hidden">
				<select name="bundleNumber" class="form-control" form="batchDating">
					<option th:each="i: ${#numbers.sequence(1, 9)}" th:value="${i}" th:text="${i}" th:selected="${i} == 1"></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary" th:text="#{ui.subject.batch}"></button>
            </div>
        </div>
    </form>

    <div th:if="${@perm.canWrite(parent)}" class="col-md-12">
        <hr>
    </div>

    <table id="jsfTable" class="display">
        <thead>
            <tr>
                <th></th>
				<th th:text="#{ui.subject.table.status}"></th>
				<th th:text="#{ui.subject.table.subjectno}"></th>
                <th th:text="#{ui.subject.table.bundle}"></th>
				<th th:text="#{ui.subject.table.name}"></th>
				<th th:text="#{ui.subject.table.nationalid}"></th>
				<th th:text="#{ui.subject.table.unreviewed-visits}"></th>
                <th th:text="#{ui.subject.table.action}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${children}">
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:value="${subject.id}" onchange="checkboxEvent()">
                    </div>
                </td>
				<td th:text="${@i18n.str(subject.status)}"></td>
				<td th:text="${subject.subjectNo}"></td>
                <td>
                    <label th:unless="${@perm.canWrite(parent)}" th:text="${subject.contraindicationBundle}"></label>

                    <select th:if="${@perm.canWrite(parent)}" class="form-control selectpicker" onchange="location = this.value;">
                        <option th:each="i: ${#numbers.sequence(1, 9)}" th:value="${parent.joinPath(subject.showPath, 'bundle', i)}"
                            th:text="${i}" th:selected="${i == subject.contraindicationBundle}">
                        </option>
                    </select>
                </td>
                <td th:text="${subject.name}"></td>
                <td>
					<a th:if="${@perm.canRead(parent)}" href="#" th:text="${subject.nationalId}"
						th:onclick="axiosGet( [[${parent.withChild(subject).showPath}]] )">
                    </a>
                    <a th:unless="${@perm.canRead(parent)}" th:text="${subject.nationalId}"></a>
				</td>
				<td>
					<a th:href="${parent.joinPath(subject.showPath, 'visits')}" th:text="${subject.unreviewedVisits()}"></a>
				</td>
                <td>
                    <a th:if="${@perm.canWrite(parent)}" href="#"
                        th:onclick="axiosGet( [[${parent.withChild(subject).editPath}]] )">
                        <span>
                            <i class="fa fa-edit"></i>
                        </span>
                    </a>
                    <span th:unless="${@perm.canWrite(parent)}">
                        <i class="fa fa-edit"></i>
                    </span>
					<a th:if="${@perm.canDeleteSubject(parent)}" th:onclick="axiosDelete( [[${parent.withChild(subject).destroyPath}]] )">
                        <span>
                            <i class="fa fa-times" style="color: red; margin-top: 3px;"></i>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:if="${@perm.canWrite(parent)}" class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <button id="addSubject" class="btn btn-block btn-default" th:onclick="axiosGet( [[${route.newPath}]] )"
            th:inline="text">
            <span>
                <i class="fa fa-plus text-success"></i>
            </span>
            [[#{ui.subject.add}]]
        </button>
    </div>

    <div th:if="${@perm.canWrite(parent)}" class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <form method="POST" th:action="${route.joinPath('batch')}" enctype="multipart/form-data">
            <!-- COMPONENT START -->
            <div class="form-group">
                <div class="input-group input-file" name="subjectFile">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-choose" type="button" th:text="#{ui.subject.file.select}"></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Choose a file...">
                    <span class="input-group-btn">
                        <button id="uploadBtn" class="btn btn-warning" type="submit" th:text="#{ui.subject.file.upload}"
                            disabled></button>
                    </span>
                </div>
            </div>
            <!-- COMPONENT END -->
        </form>
    </div>

    <div th:if="${@perm.canWrite(parent)}" class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <a th:href="${route.joinPath('uploadexample')}" th:text="#{ui.subject.file.example.download}"></a>
    </div>


	<script th:replace="fragments/notify :: partial"></script>
	<script th:replace="fragments/bs :: input-file"></script>
	<script th:replace="fragments/axios :: simple-ajax-actions('#jsf')"></script>
    <script type="text/javascript" th:inline="javascript">
		var checkboxEvent = function () {
			$('input[name="subjectIds[]"]').remove();

			$('input:checked').each(function () {
				$('<input>').attr({
					type: 'hidden',
					name: 'subjectIds[]',
					value: this.value
				}).appendTo('#batchDating');
			});
		};


		$(function () {
			$('.selectpicker').selectpicker();

			let i18nLocale = /*[[#{jquery.datatable.i18n.locale}]]*/ 'zh-TW';
			$('#jsfTable').DataTable({
				order: [
					[5, "asc"]
				],
				columnDefs: [{
					width: '36px',
					targets: 0
				}],
				language: {
					url: '/i18n/datatables-' + i18nLocale + '.json'
				},
				drawCallback: (settings) => {
					$('#jsfTable').reflowTable('update');
				}
			});

			$('#jsfTable').reflowTable();

			$('#subjectDateType').change(function () {
				if (this.value == 'bundleNumber') {
					$('#batchDateDiv').addClass('hidden');
					$('#bundleNumberDiv').removeClass('hidden');
				} else {
					$('#batchDateDiv').removeClass('hidden');
					$('#bundleNumberDiv').addClass('hidden');
				}
			});
		});
	</script>
</div>

</html>