<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3
                th:replace="fragments/form :: title(text=${parent.trialName}, backUrl=${parent.withChild(child).indexPath})">
            </h3>

            <hr>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <input id="nationalId" type="text" class="form-control" th:placeholder="#{ui.subject.nationalid}">
                </div>
                <div class="col-sm-4">
                    <button id="queryBtn" class="btn btn-primary" th:text="#{ui.subject.search}"></button>
                </div>
            </div>

            <hr>

            <div id="jsfForm"></div>
        </div>
    </div>

    <script th:replace="fragments/bs :: notify"></script>
    <script th:replace="fragments/axios :: simple-ajax-actions('#jsf')"></script>
    <script
        th:replace="fragments/rjsf :: new( ${child.toRjsfMap()}, '#jsfForm', ${parent.withChild(child).createPath}, '#jsf' )"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('#queryBtn').click(function () {
                if (!$('#nationalId').val()) return;

                let subjectQueryPath = /*[[${route.joinPath('query/')}]]*/ '';
                axiosGet(subjectQueryPath + $('#nationalId').val());
            });

            $('input[type="date"]').attr({
                min: '1900-01-01',
                max: '2100-12-31'
            });
        });
    </script>
</div>

</html>