<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3
                th:replace="fragments/form :: title(text=${parent.trialName}, backUrl=${parent.withChild(child).indexPath})">
            </h3>

            <hr>

            <div id="jsfForm"></div>
        </div>
    </div>

    <!-- <script th:replace="ReactJSF :: show( ${child.toRjsfMap()}, '#jsfForm', ${parent.withChild(child).indexPath}, '#jsf' )"></script> -->
    <script type="text/javascript" th:inline="javascript">
        ReactJSF.showForm(
            /*[[${child.toRjsfMap()}]]*/ null,
            'jsfForm',
            /*[[${parent.withChild(child).indexPath}]]*/ '',
            'jsf');
    </script>
</div>

</html>