<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="show">
    <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h3
            th:replace="fragments/form :: title(text=${case.trialName}, backUrl='/cases/' + ${case.id} + '/subjects')">
        </h3>
        <hr>
        <div id="jsfForm"></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            let onSubmit = (f) => {
                axios.get( /*[[${jsfPath}]]*/ null)
                    .then((response) => {
                        $('#jsf').html(response.data);
                    });
            };

            let rjsfOpt = Object.assign({
                btnText: /*[[#{rjsf.back}]]*/'返回',
                onSubmit: onSubmit,
                disabled: true
            }, /*[[${jsfItem.toRjsfMap()}]]*/ {});

            ReactDOM.render(React.createElement(ReactJSF, rjsfOpt),
                document.getElementById('jsfForm'));
        });
    </script>
</div>

</html>