<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="list">
	<table id="jsfTable" class="display">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${jsfItems}">
				<td><a th:text="${item.firstName}" th:onclick="${ 'showFormEvent(' + item.id + ')' }"></a></td>
				<td th:text="${item.lastName}"></td>
				<td th:text="${item.age}"></td>
			</tr>
		</tbody>
	</table>

	<div>
		<button type="button" class="btn btn-success pull-right" onClick="newFormEvent()">+</button>
	</div>

	<script type="text/javascript" th:inline="javascript">
		var showFormEvent = function(id) {
			axios.get([[${jsfPath}]] + '/' + id)
			.then(function (response) {
				console.log(response);
				$('#jsf').html(response.data);
			})
			.catch(function (error) {
				console.log(error);
			});
		};
		
	
		var newFormEvent = function() {
			axios.get([[${jsfPath}]] + '/new')
				.then(function (response) {
					console.log(response);
					$('#jsf').html(response.data);
				})
				.catch(function (error) {
					console.log(error);
				});
		};
	
		$(document).ready(function() {
			$('#jsfTable').DataTable({
				"language" : {
					"url" : "/i18n/datatables-zh-TW.json"
				}
			});
		});
	</script>
</div>
</html>