<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="simple-ajax-actions(tag)" type="text/javascript" th:inline="javascript">
	var params = function (p) {
		return new URLSearchParams(p);
	};

	var axiosGet = function (url, config = {}, ajax = true) {
		axios.get(url, config).then((response) => {
			if (ajax) $(/*[[${tag}]]*/ null).html(response.data);
		});
	};

	var axiosDelete = function (url, config = {}, ajax = true) {
		if (!confirm(/*[[${#strings.defaultString(#messages.msgOrNull('ui.axios.delete.confirmation'), 'Are you sure?')}]]*/)) {
			return false;
		}

		axios.delete(url, config).then((response) => {
			if (ajax) $(/*[[${tag}]]*/ null).html(response.data);
		});
	};

	var axiosPost = function (url, data = {}, config = {}, ajax = true) {
		axios.post(url, data, config).then((response) => {
			if (ajax) $(/*[[${tag}]]*/ null).html(response.data);
		});
	};

	var axiosPut = function (url, data = {}, config = {}, ajax = true) {
		axios.put(url, data, config).then((response) => {
			if (ajax) $(/*[[${tag}]]*/ null).html(response.data);
		});
	};

	var axiosPatch = function (url, data = {}, config = {}, ajax = true) {
		axios.patch(url, data, config).then((response) => {
			if (ajax) $(/*[[${tag}]]*/ null).html(response.data);
		});
	};
</script>

</html>