<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="react-form" id="caseFormDiv" class="container col-md-6 col-md-offset-3">
    <script type="text/babel" th:inline="javascript">
const Form = JSONSchemaForm.default;

const schema = JSON.parse([[${jsonSchema}]]);
const uiSchema = JSON.parse([[${jsonUiSchema}]]);
const formData = JSON.parse([[${jsonData}]]);

const onSubmit = ({formData}) => {
  console.log("Data submitted: ",  formData);

  $("#caseForm input").each(function(input){
    if(this.getAttribute("id")) {
      this.setAttribute("name", this.getAttribute("id").substring(5));
    }
  });

  $("#caseForm").submit();
};

ReactDOM.render((
  <Form id="caseForm"
        name="caseForm"
        method="post"
        action=[[${actionUrl}]]
        noValidate="true"
        schema={schema}
        uiSchema={uiSchema}
        formData={formData}
        onSubmit={onSubmit} >
     <div>
        <button id="saveBtn" type="button" class="btn btn-info">暫存</button>
        <button id="completeBtn" type="submit" class="btn btn-success">完成</button>
    </div>
</Form>
), document.getElementById("caseFormDiv"));

$("#saveBtn").click(function() {
  console.log("Data submitted: ",  formData);

  $("#caseForm").attr('action', $("#caseForm").attr("action") + "/save");

  $("#caseForm input").each(function(input){
    if(this.getAttribute("id")) {
      this.setAttribute("name", this.getAttribute("id").substring(5));
    }
  });

  $("#caseForm").submit();
});
</script>
</div>
</html>
