<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-common">
    <meta charset="UTF-8" />
    <title>CRC Manager</title>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.12.4/css/bootstrap-select.min.css}" />
    <script th:src="@{/webjars/bootstrap-select/1.12.4/js/bootstrap-select.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css}" />
    <script th:src="@{/webjars/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js}"></script>

    <!-- Datatable -->
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap.min.css}" />
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.jqueryui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.16/css/dataTables.jqueryui.min.css}" />

    <!-- FontAwesome -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}" />

    <!-- Babel -->
    <script th:src="@{/webjars/babel-standalone/6.26.0/babel.min.js}"></script>

    <!-- React.js -->
    <script th:src="@{/webjars/react/16.2.0/umd/react.production.min.js}"></script>
    <script th:src="@{/webjars/react-dom/16.2.0/umd/react-dom.production.min.js}"></script>
    <script th:src="@{/webjars/react-jsonschema-form/0.45.0/dist/react-jsonschema-form.js}"></script>
    <script th:src="@{/webjars/react-data-grid/2.0.73/dist/react-data-grid.min.js}"></script>

    <script type="text/babel" src="/js/react-jsf.js"></script>

    <!-- Axios -->
    <script th:src="@{/webjars/axios/0.17.1/dist/axios.min.js}"></script>

    <link rel="stylesheet" href="/css/addon/effect-light.min.css" />
    <link rel="stylesheet" href="/css/titip.min.css" />

    <link rel="icon" type="image/x-icon" href="/myfavicon.ico" />
    
    <!-- Bootstrap Notify -->
    <script src="/js/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    
    <!-- Datatable with Spring -->
    <script src="/js/jquery.spring-friendly.js"></script>
    
    <!-- Bootstrap Custom -->
    <link rel="stylesheet" href="/css/bootstrap-custom.css" />
</th:block>
</html>