<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-common">
    <meta charset="UTF-8" />
    <title>CRC Manager</title>

    <!-- Avatar -->
    <link rel="icon" type="image/x-icon" href="/myfavicon.ico" />

    <!-- Babel -->
    <!-- <script src="/bower_components/babel-standalone/babel.min.js"></script> -->

    <!-- Axios -->
    <script src="/bower_components/axios/dist/axios.min.js"></script>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome-5/web-fonts-with-css/css/fontawesome-all.min.css" />

    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Tagsinput -->
    <link rel="stylesheet" href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
    <script src="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

    <!-- jQuery Datatables -->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/datatables.net-jqui/css/dataTables.jqueryui.min.css" />
    <script src="/bower_components/datatables.net-jqui/js/dataTables.jqueryui.min.js"></script>

    <!-- jQuery Datatables with Spring -->
    <script src="/js/jquery.spring-friendly.js"></script>

    <!-- React.js -->
    <script src="/bower_components/react/react.production.min.js"></script>
    <script src="/bower_components/react/react-dom.production.min.js"></script>

    <!-- React JSON schema form -->
    <script src="/bower_components/react-jsonschema-form/dist/react-jsonschema-form.js"></script>

    <script src="/js/react-jsf-compiled.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>

    <!-- jQuery Reflow Table -->
    <link rel="stylesheet" href="/bower_components/jquery-reflow-table/dist/css/reflow-table.min.css" />
    <script src="/bower_components/jquery-reflow-table/dist/js/reflow-table.min.js"></script>

    <!-- Bootstrap Custom -->
    <link rel="stylesheet" href="/css/bootstrap-custom.css" />
</th:block>

</html>