<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="login" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-left">
                <img class="navbar-brand" src="/logo.png">
            </a>
            <a class="navbar-brand" href="/">[[#{navbar.title}]]</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:class="${session.status.toString() == 'NEW'} ? active : ''" sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_ADMIN')">
                    <a href="/cases?status=new" th:text="#{ui.navbar.case.new}"></a>
                </li>
                <li th:class="${session.status.toString() == 'EXEC'} ? active : ''" sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                    <a href="/cases?status=exec" th:text="#{ui.navbar.case.exec}"></a>
                </li>
                <li th:class="${session.status.toString() == 'END'} ? active : ''" sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                    <a href="/cases?status=end" th:text="#{ui.navbar.case.end}"></a>
                </li>
                <li th:class="${session.status.toString() == 'NONE'} ? active : ''" sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_ADMIN')">
                    <a href="/cases?status=none" th:text="#{ui.navbar.case.none}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                    <a href="/search" th:text="#{ui.navbar.case.export}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{${@environment.getProperty('keycloak.auth-server-url')} + '/realms/CRCManager/account'}"
                        target="_blank" class="fa fa-user-cog" th:text="' ' + #{ui.navbar.account}"></a>
                </li>
                <li>
                    <a href="/logout" class="fa fa-sign-out-alt" th:text="' ' + #{ui.navbar.logout}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="logout" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-left">
                <img class="navbar-brand" src="/logo.png">
            </a>
            <a class="navbar-brand" href="/">[[#{navbar.title}]]</a>
        </div>
    </div>
</nav>

</html>