<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="ReadOnlyForm" th:with="id=${id} ?: 'reactForm', name=${name} ?: 'reactForm', className=${className} ?: 'reactForm', btnText=${btnText} ?: 'Submit'">
    <div id="jsfForm"></div>
    <script type="text/javascript" th:inline="javascript">
        let onSubmit = function (f) {
            axios.get( /*[[${data.action}]]*/ null).then(function (response) {
                $('#' + /*[[${renderId}]]*/ null).html(response.data);
            });
        };
        let schema = JSON.parse( /*[[${data.schema}]]*/ null);
        let uiSchema = JSON.parse( /*[[${data.uiSchema}]]*/ null);
        let formData = JSON.parse( /*[[${data.formData}]]*/ null);

        ReactDOM.render(React.createElement(CostumFormComponent, {
            id: /*[[${id}]]*/ null,
            name: /*[[${name}]]*/ null,
            className: /*[[${className}]]*/ null,
            schema: schema,
            uiSchema: uiSchema,
            formData: formData,
            onSubmit: onSubmit,
            btnText: /*[[${btnText}]]*/ null
        }), document.getElementById('jsfForm'));

        $('#jsfForm :input').not('[type=submit]').attr('disabled', true);
    </script>
</th:block>

<th:block th:fragment="Form" th:with="id=${id} ?: 'reactForm', name=${name} ?: 'reactForm', className=${className} ?: 'reactForm', btnText=${btnText} ?: 'Submit'">
    <div id="jsfForm"></div>
    <script type="text/javascript" th:inline="javascript">
        let onSubmit = function (f) {
            axios.get( /*[[${data.action}]]*/ null)
                .then(function (response) {
                    $('#' + /*[[${renderId}]]*/ null).html(response.data);
                });
        };
        let schema = JSON.parse( /*[[${data.schema}]]*/ null);
        let uiSchema = JSON.parse( /*[[${data.uiSchema}]]*/ null);
        let formData = JSON.parse( /*[[${data.formData}]]*/ null);

        ReactDOM.render(React.createElement(CostumFormComponent, {
            id: /*[[${id}]]*/ null,
            name: /*[[${name}]]*/ null,
            className: /*[[${className}]]*/ null,
            schema: schema,
            uiSchema: uiSchema,
            formData: formData,
            onSubmit: onSubmit,
            btnText: /*[[${btnText}]]*/ null
        }), document.getElementById('jsfForm'));
    </script>
</th:block>

</html>