<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">
    <div class="container">
        <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 th:replace="fragments/form :: title(text=${item.trialName}, backUrl=${item.indexPath})"></h3>
            <hr>
            <form th:action="@{${item.joinPath('/assignment')}}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input id="username" name="username" type="text" class="form-control" readonly>
                        <div class="input-group-btn">
                            <button id="assignBtn" type="submit" class="btn btn-default" th:inline="text" disabled>
                                <span class="fa fa-user-plus"></span>
                                [[#{ui.case.assignment.assign}]]
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <table id="userTable" class="display">
                <thead>
                    <tr>
                        <th th:text="#{ui.username}"></th>
                        <th>Email</th>
                        <th th:text="#{ui.lastname}"></th>
                        <th th:text="#{ui.firstname}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            <a class="usernameSelect" href="#" th:text="${user.username}"></a>
                        </td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.firstName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('.usernameSelect').click(function () {
                $('#username').val(this.text);
                $('#assignBtn').attr('disabled', false)
                return false;
            });

            let i18nLocale = /*[[#{jquery.datatable.i18n.locale}]]*/ null;
            $('#userTable').DataTable({
                language: {
                    url: '/i18n/datatables-' + i18nLocale + '.json'
                },
                drawCallback: function (settings) {
                    $('#userTable').reflowTable('update');
                }
            });

            $('#userTable').reflowTable();
        });
    </script>
</section>

</html>