<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 th:replace="fragments/form :: title(text=${item.trialName}, backUrl=${item.indexPath})"></h3>

            <hr>

            <div id="jsfForm"></div>


            <!-- <script th:replace="ReactJSF :: edit( ${bundleDescription.toRjsfMap()}, '#jsfForm', ${item.joinPath('bundledescription')}, '#jsf' )"></script> -->
            <script type="text/javascript" th:inline="javascript">
                ReactJSF.editForm(
                    /*[[${bundleDescription.toRjsfMap({btnText: '送出', cssHref:'/css/bootstrap.min.css'})}]]*/ null,
                    'jsfForm',
                    /*[[${item.joinPath('bundledescription')}]]*/ '',
                    'jsf');
            </script>
        </div>
    </div>
</div>

</html>