<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group dropdown" sd:page-size-selector="dropdown">
            </div>
        </div>
        <div class="col-sm-4">
            <div></div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="Search for..." th:value="${search}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                        th:onclick="axiosGet( [[${route.indexPath}]], {params: {search: $('#search').val()}} )"><span
                            class="fas fa-search"></span></button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                        th:onclick="axiosGet( [[${route.indexPath}]], {params: {search: ''}} )"><span
                            class="fas fa-eraser"></span></button>
                </span>
            </div>
        </div>
    </div>

    <table id="jsfTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 70px;" th:text="#{ui.case.table.action}"></th>
                <th style="width: 50px;"></th>
                <th style="width: 130px;">
                    <a class="sorted" sd:pagination-sort="irbNumber" th:text="#{ui.case.table.irbnumber}"></a>
                </th>
                <th style="width: 100px;">
                    <a class="sorted" sd:pagination-sort="projectNumber" th:text="#{ui.case.table.projectnumber}"></a>
                </th>
                <th class="text-center" th:text="#{ui.case.table.contraindication}"></th>
                <th class="text-center" style="width: 60px;">
                    <a class="sorted" sd:pagination-sort="unreviewedOngoingVisits" data-toggle="tooltip"
                        data-placement="top"
                        th:title="#{ui.case.table.unreviewed}">[[#{ui.case.table.subject_and_unreviewed}]]</a>
                </th>
                <th>
                    <a class="sorted" sd:pagination-sort="trialName" th:text="#{ui.case.table.name.chinese}"></a>
                </th>
                <th class="text-center" style="width: 90px;">
                    <a class="sorted" sd:pagination-sort="piName" th:text="#{ui.case.table.pi}"></a>
                </th>
                <th style="width: 90px;">
                    <a class="sorted" sd:pagination-sort="expectedStartDate" th:text="#{ui.case.table.time.start}"></a>
                </th>
                <th style="width: 90px;">
                    <a class="sorted" sd:pagination-sort="expectedEndDate" th:text="#{ui.case.table.time.end}"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="case : ${slice}">
                <td>
                    <bs3:dropdown>
                        <th:block th:if="${case.status} == ${case.Status.NEW}">
                            <a th:if="!${case.owner} and ${@perm.canAssign()}"
                                th:href="@{${case.joinPath('assignment')}}">
                                [[#{ui.case.table.action.assign}]]
                            </a>
                            <a th:if="${case.owner} and ${@perm.canAssign()}"
                                th:onclick="axiosPut( [[${case.updatePath}]], {status: 'exec'} )">
                                [[#{ui.case.table.action.dispatch}]]
                            </a>
                            <bs3:dropdown-divider></bs3:dropdown-divider>
                            <a th:if="${@perm.canAssign()}"
                                th:onclick="axiosPut( [[${case.updatePath}]], {status: 'none'} )">
                                [[#{ui.case.table.action.none}]]
                            </a>
                        </th:block>

                        <th:block th:if="${case.status} == ${case.Status.EXEC}">
                            <a th:if="${@perm.canManage(case)}" th:href="@{${case.joinPath('permission')}}">
                                [[#{ui.case.table.action.permission}]]
                            </a>
                            <bs3:dropdown-divider th:if="${@perm.canClose(case)}"></bs3:dropdown-divider>
                            <a th:if="${@perm.canClose(case)}"
                                th:onclick="axiosPut( [[${case.updatePath}]], {status: 'end'} )">
                                [[#{ui.case.table.action.close}]]
                            </a>
                        </th:block>

                        <th:block th:if="${case.status} == ${case.Status.END}">
                            <a th:if="${@perm.canReopen()}"
                                th:onclick="axiosPut( [[${case.updatePath}]], {status: 'exec'} )">
                                [[#{ui.case.table.action.reopen}]]</a>
                        </th:block>

                        <th:block th:if="${case.status} == ${case.Status.NONE}">
                            <a th:if="${@perm.canRenew()}"
                                th:onclick="axiosPut( [[${case.updatePath}]], {status: 'new'} )">
                                [[#{ui.case.table.action.renew}]]
                            </a>
                        </th:block>
                    </bs3:dropdown>
                </td>
                <td>
                    <a href="#" th:if="${@perm.canWrite(case)}" th:onclick="axiosGet( [[${case.editPath}]] )">
                        <span>
                            <i class="fa fa-edit"></i>
                        </span>
                    </a>
                    <span th:if="${!@perm.canWrite(case)}">
                        <i class="fa fa-edit"></i>
                    </span>
                    <a th:if="${@perm.canDelete()}" href="#" th:onclick="axiosDelete( [[${case.destroyPath}]] )">
                        <span>
                            <i class="fa fa-times" style="color: red; margin-top: 3px;"></i>
                        </span>
                    </a>
                </td>
                <td>
                    <a th:unless="${@perm.canRead(case)}" th:inline="text">[[${case.irbNumber}]]</a>
                    <a th:if="${@perm.canRead(case)}" href="#" th:inline="text"
                        th:onclick="axiosGet( [[${case.showPath}]] )">[[${case.irbNumber}]]</a>
                </td>
                <td>[[${case.projectNumber}]]</td>
                <td class="text-center">
                    <a th:if="${@perm.canRead(case)}" th:href="${case.joinPath('contraindications')}">
                        <span>
                            <i class="fa fa-medkit"></i>
                        </span>
                    </a>
                    <span th:unless="${@perm.canRead(case)}">
                        <i class="fa fa-medkit"></i>
                    </span>
                </td>
                <td class="text-center">
                    <a th:if="${@perm.canRead(case)}" th:href="${case.joinPath('subjects')}">
                        <span>
                            <i class="fa fa-user-plus"></i> ([[${case.unreviewedOngoingVisits}]])
                        </span>
                    </a>
                    <span th:unless="${@perm.canRead(case)}">
                        <i class="fa fa-user-plus"></i>
                    </span>
                </td>
                <td th:text="${case.trialName}"></td>
                <td class="text-center" th:text="${case.piName}"></td>
                <td th:text="${case.expectedStartDate}"></td>
                <td th:text="${case.expectedEndDate}"></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full"
                    sd:pagination-url="@{${route.indexPath} + '?' + ${@pageUtils.toQueryStringWithoutPage(pageable)}(search=${search})}">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script th:replace="fragments/notify :: partial" type="text/javascript"></script>
    <script th:replace="fragments/axios :: simple-ajax-actions('#jsf')"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('#jsfTable').reflowTable();
        });
    </script>
</div>

</html>


<html th:fragment="complete" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">
    <div class="container">
        <div id="jsf">
            <div th:replace="cases/list :: partial"></div>
        </div>
    </div>
</section>

</html>