<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="list">
	<table id="jsfTable" class="display">
		<thead>
			<tr>
				<th style="width: 30px;" th:text="#{ui.table.case.action}"></th>
				<th style="width: 30px;"></th>
				<th style="width: 90px;" th:text="#{ui.table.case.irbnumber}"></th>
				<th class="text-center" style="width: 60px;"
					th:text="#{ui.table.case.contraindication}"></th>
				<th class="text-center" style="width: 60px;"
					th:text="#{ui.table.case.subject}"></th>
				<th th:text="#{ui.table.case.name.chinese}"></th>
				<th style="width: 80px;" th:text="#{ui.table.case.pi}"></th>
				<th style="width: 60px;" th:text="#{ui.table.case.time.start}"></th>
				<th style="width: 60px;" th:text="#{ui.table.case.time.end}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="case : ${jsfItems}">
				<td>
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="fa fa-cogs"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li
							th:if="!${case.owner} and ${case.status} == ${case.Status.NEW} and ${@perm.canAssign()}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/assignment'}"
								th:text="#{ui.table.case.action.assign}"></a></li>
						<li
							th:if="!${case.owner} and ${case.status} == ${case.Status.NEW} and ${@perm.canAssign()}"
							class="divider"></li>
						<li
							th:if="${case.owner} and ${case.status} == ${case.Status.NEW} and ${@perm.canAssign()}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/status/exec'}"
								th:text="#{ui.table.case.action.dispatch}"></a></li>
						<li
							th:if="${case.status} == ${case.Status.NEW} and ${@perm.canAssign()}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/status/none'}"
								th:text="#{ui.table.case.action.none}"></a></li>
						<li
							th:if="${case.status} == ${case.Status.EXEC} and ${@perm.canManage(case)}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/permission'}"
								th:text="#{ui.table.case.action.permission}"></a></li>
						<li
							th:if="${case.status} == ${case.Status.EXEC} and ${@perm.canClose(case)}"
							class="divider"></li>
						<li
							th:if="${case.status} == ${case.Status.EXEC} and ${@perm.canClose(case)}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/status/end'}"
								th:text="#{ui.table.case.action.close}"></a></li>
						<li
							th:if="${case.status} == ${case.Status.END} and ${@perm.canReopen()}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/status/exec'}"
								th:text="#{ui.table.case.action.reopen}"></a></li>
						<li
							th:if="${case.status} == ${case.Status.NONE} and ${@perm.canRenew()}"><a
								class="dropdown-item"
								th:href="@{'/cases/' + ${case.id} + '/status/new'}"
								th:text="#{ui.table.case.action.renew}"></a></li>
					</ul>
				</td>
				<td><a href="#" th:if="${@perm.canWrite(case)}"
						th:onclick="${ 'editFormEvent(''' + jsfPath + '/' + case.id + '/edit' + ''')' }">
						<span>
							<i class="fa fa-edit"></i>
						</span>
					</a> <span th:if="${!@perm.canWrite(case)}">
						<i class="fa fa-edit"></i>
					</span> <a th:if="${@perm.canDelete()}"
						th:href="@{'/cases/' + ${case.id} + '/delete'}"
						th:if="${@perm.canDelete()}">
						<span>
							<i class="fa fa-times" style="color: red; margin-top: 3px;"></i>
						</span>
					</a></td>
				<td><a th:if="${!@perm.canRead(case)}" th:inline="text">[[${case.irbNumber}]]</a>
					<a th:if="${@perm.canRead(case)}" href="#"
						th:onclick="${ 'showFormEvent(''' + jsfPath + '/' + case.id + ''')' }"
						th:inline="text"> [[${case.irbNumber}]] </a></td>
				<td class="text-center"><a th:if="${@perm.canRead(case)}"
						th:href="${ jsfPath + '/' + case.id + '/contraindications'}">
						<span>
							<i class="fa fa-medkit"></i>
						</span>
					</a> <span th:if="${!@perm.canRead(case)}">
						<i class="fa fa-medkit"></i>
					</span></td>
				<td class="text-center"><a th:if="${@perm.canWrite(case)}"
						th:href="${jsfPath + '/' + case.id + '/subjects/index'}">
						<span>
							<i class="fa fa-user-plus"></i>
						</span>
					</a> <span th:if="${!@perm.canWrite(case)}">
						<i class="fa fa-user-plus"></i>
					</span></td>
				<td th:text="${case.trialName}"></td>
				<td th:text="${case.piName}"></td>
				<td th:text="${case.expectedStartDate}"></td>
				<td th:text="${case.expectedEndDate}"></td>
			</tr>
		</tbody>
	</table>

	<script th:replace="fragments/notify :: notify"></script>
	<script type="text/javascript" th:inline="javascript">
	var showFormEvent = function(path) {
		axios.get(path)
			.then(function (response) {
				$('#jsf').html(response.data);
			})
			.catch(function (error) {
				console.log(error);
			});
	};
	
	var editFormEvent = function(path) {
		axios.get(path)
			.then(function (response) {
				$('#jsf').html(response.data);
			})
			.catch(function (error) {
				console.log(error);
			});
	};

	$(function() {
		var i18nLocale = [[#{jquery.datatable.i18n.locale}]];
		$('#jsfTable').DataTable({
			language: {
				url: '/i18n/datatables-' + i18nLocale + '.json'
			},
			columnDefs: [{
				targets: [0, 1, 3, 4],
				orderable: false
			}]
		});
	});
	</script>
</div>
</html>