<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="show">
  <div class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3 th:inline="text">
      <span class="glyphicon glyphicon-list-alt"></span>
      [[${jsfItem.trialName}]]
      <a href="/cases/index">
        <span class="fa fa-sign-out-alt" style="color: green;"></span>
      </a>
    </h3>
    <hr />
    <div id="jsfForm"></div>
  </div>

  <script type="text/javascript" th:inline="javascript">
    $(function() {
      let schema = JSON.parse( /*[[${rjsf.schema}]]*/ null);
      let uiSchema = JSON.parse( /*[[${rjsf.uiSchema}]]*/ null);
      let formData = JSON.parse( /*[[${rjsf.formData}]]*/ null);

      let onSubmit = function(f) {
        axios.get( /*[[${rjsf.action}]]*/ null)
          .then(function(response) {
            $('#jsf').html(response.data);
          });
      };

      ReactDOM.render(React.createElement(CostumFormComponent, {
        schema: schema,
        uiSchema: uiSchema,
        formData: formData,
        onSubmit: onSubmit,
        btnText: '返回'
      }), document.getElementById('jsfForm'));

      $('#jsfForm :input').not('[type=submit]').attr('disabled', true);
    });
  </script>
</div>

</html>