<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="partial">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 th:replace="fragments/form :: title(text=${item.trialName}, backUrl=${item.indexPath})"></h3>

            <hr>

            <div th:replace="fragments/form :: file-list(title=#{ui.case.files.title}, files=${files})"></div>

            <hr>

            <div id="jsfForm"></div>
        </div>
    </div>

    <script th:replace="fragments/rjsf :: show( ${item.toRjsfMap()}, '#jsfForm', ${route.indexPath}, '#jsf' )"></script>
</div>

</html>

<html th:fragment="complete" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">
    <div class="container">
        <div id="jsf">
            <div th:replace="cases/show :: partial"></div>
        </div>
    </div>
</section>

</html>