<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="show">
	<div
		class="row col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<h3 th:inline="text">
			<span class="glyphicon glyphicon-list-alt"></span>
			[[${jsfItem.trialName}]]
			<a href="/cases/index">
				<span class="fa fa-sign-out-alt" style="color: green;"></span>
			</a>
		</h3>
		<hr>
		<div id="jsfForm"></div>
	</div>

	<script type="text/javascript" th:inline="javascript">
	var schema = JSON.parse([[${jsfItem.jsonSchema}]]);
	var uiSchema = JSON.parse([[${jsfItem.jsonUiSchema}]]);
	var formData = JSON.parse([[${jsfItem.jsonData}]]);
	
	var onSubmit = ({formData}) => {
		axios.get([[${jsfPath}]])
			.then(function (response) {
				$('#jsf').html(response.data);
			})
			.catch(function (error) {
				console.log(error);
			});
	};
	
	ReactDOM.render(
		React.createElement(ReadOnlyFormComponent),
		document.getElementById('jsfForm')
	);
	
    $('#jsfForm :input').not('[type="submit"]').attr('disabled', true);
    </script>
</div>
</html>