<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:include="fragments/header :: header-common"></th:block>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar-login"></nav>

	<div class="container">
		<div style="height: 300px;"
			class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h3 th:inline="text">
				<span class="glyphicon glyphicon-list-alt"></span>
				[[${case.trialName}]]
				<a href="/cases/index">
					<span class="fa fa-undo" style="color: green;"></span>
				</a>
			</h3>
			<hr>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab"
						href="#contraindications" th:text="#{ui.contraindication}"></a></li>
			</ul>

			<div class="tab-content">
				<div id="contraindications" class="tab-pane fade in active">
					<ul id="contraindicationList" class="list-group"
						style="overflow-y: scroll; max-height: 200px; padding: 10px 10px;">
						<li class="list-group-item"
							th:each="cd : ${case.contraindications}"><span
								th:text="#{ui.contraindication.keyword}': ' + (${#strings.isEmpty(cd.phrase)} ?  #{ui.contraindication.none} : '[ ' + ${cd.phrase} + ' ]') + ' / ' + #{ui.contraindication.atc.prefix} + ': ' + (${#strings.isEmpty(cd.atcCode)} ? #{ui.contraindication.none} : '[ ' + ${cd.atcCode} + ' ]')"></span>
							<a
								th:href="${ '/cases/' + case.id + '/contraindications/' + cd.id }">
								<i th:attr="val=${cd.id}" class="fa fa-times pull-right"
									style="color: red; margin-top: 3px;"></i>
							</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<hr />
		</div>

		<div class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<form th:action="@{ '/cases/' + ${case.id} + '/contraindications' }"
				method="POST" class="form-row">
				<div class="form-group col-md-1"></div>
				<div class="form-group col-md-4">
					<input name="phrase" type="text" class="form-control"
						th:placeholder="#{ui.contraindication.medicine.keyword}">
				</div>
				<div class="form-group col-md-4">
					<input name="atcCode" type="text" class="form-control"
						th:placeholder="#{ui.contraindication.atc.prefix}">
				</div>
				<div class="form-group col-md-2">
					<button type="submit" class="btn btn-primary"
						th:text="#{ui.contraindication.add}"></button>
				</div>
			</form>
		</div>

		<div class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<hr />
		</div>

		<div class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<table id="medicines">
				<thead>
					<tr>
						<th th:text="#{ui.table.contraindication.name}"></th>
						<th th:text="#{ui.table.contraindication.name.english}"></th>
						<th>ATC1</th>
						<th>ATC2</th>
						<th>ATC3</th>
						<th>ATC4</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
	$(function() {
		var i18nLocale = [[#{jquery.datatable.i18n.locale}]];
		$('table#medicines').DataTable({
			ajax: '/data/medicines',
			serverSide: true,
			language: {
				url: '/i18n/datatables-' + i18nLocale + '.json'
			},
			columns: [
				{ data: 'name' },
				{ data: 'engName' },
				{ data: 'atcCode1' },
				{ data: 'atcCode2' },
				{ data: 'atcCode3' },
				{ data: 'atcCode4' }
			]
		});
	});
	</script>
</body>
</html>