<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">
	<div class="container">
		<div id="list">
			<div th:replace="contraindication/list :: partial"></div>
		</div>

		<div class="row col-sm-10 col-sm-offset-1">
			<hr>
		</div>

		<div th:replace="contraindication/panel :: adder"></div>

		<div class="row col-sm-10 col-sm-offset-1">
			<hr>
		</div>

		<div class="row col-sm-10 col-sm-offset-1">
			<table id="medicines" class="display">
				<thead>
					<tr>
						<th>[[#{ui.contraindication.table.name}]]</th>
						<th>[[#{ui.contraindication.table.name.english}]]</th>
						<th>[[#{ui.contraindication.table.name.scientific}]]</th>
						<th>ATC codes</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<script th:replace="fragments/axios :: simple-ajax-actions('#list')"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function () {
			$('table#medicines').on('init.dt', function () {
				$(this).reflowTable();
			}).on('draw.dt', function () {
				$(this).reflowTable('update');
			}).DataTable({
				ajax: '/data/medicines',
				serverSide: true,
				language: { url: '/i18n/datatables-' + /*[[#{jquery.datatable.i18n.locale}]]*/ 'zh-TW' + '.json' },
				columns: [
					{ data: 'name' },
					{ data: 'engName' },
					{ data: 'scientificName' },
					{
						data: 'atcCode1',
						render: function (data, type, row, meta) {
							return [row.atcCode1, row.atcCode2, row.atcCode3, row.atcCode4].filter(function (el) {
								return el != null;
							}).join(', ');
						}
					},
					{ data: 'atcCode2', visible: false },
					{ data: 'atcCode3', visible: false },
					{ data: 'atcCode4', visible: false }
				]
			});
		});
	</script>
</section>

</html>