<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="list">
	<h3 th:replace="fragments/form :: title(text=${parent.trialName}, backUrl=${parent.indexPath})"></h3>

	<hr>

	<div style="height: 300px;" class="panel panel-default">
		<div class="panel-heading">[[#{ui.contraindication}]]</div>
		<div class="panel-body" style="padding: 0px;">
			<ul id="contraindicationList" class="list-group"
				style="overflow-y: scroll; max-height: 240px; padding: 10px 10px;">
				<li class="list-group-item" th:each="cd : ${children}">
					<span class="text-primary">
						[[#{ui.contraindication.bundle} + ': ']]
					</span>
					<span>
						[[${cd.bundle}]]
					</span>
					,
					<span class="text-danger">
						[[#{ui.contraindication.keyword} + ': ']]
					</span>
					<span>
						[[${cd.phrase}]]
					</span>
					<span class="text-success">
						[[#{ui.contraindication.medicine.usage} + ': ']]
					</span>
					<span>
						<th:block th:each="tk : ${cd.takekinds}">
							[[#{'takekinds.' + ${tk}}]]
							<span></span>
						</th:block>
					</span>
					<span class="text-warning">
						[[#{ui.contraindication.memo} + ': ']]
					</span>
					<span>
						[[${cd.memo}]]
					</span>
					<a th:if="${@perm.canWrite(parent)}" href="#" class="pull-right vcenter"
						th:onclick="axiosDelete( [[${parent.withChild(cd).destroyPath}]] )">
						<i th:attr="val=${cd.id}" class="fa fa-times red"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div th:fragment="adder">
	<form th:action="${route.createPath}" method="POST" class="form-row">
		<div class="form-group col-md-2">
			<label th:text="#{ui.contraindication.bundle}"></label>
			<select name="bundle" class="form-control selectpicker">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
			</select>
		</div>
		<div class="form-group col-sm-8">
			<label th:text="#{ui.contraindication.medicine.keyword_and_usage}"></label>
			<input name="phrase" type="text" class="form-control"
				th:placeholder="#{ui.contraindication.medicine.keyword}">
			<input id="takekinds" name="takekinds">
			<hr>
			<label th:text="#{ui.contraindication.memo}"></label>
			<textarea name="memo" class="form-control"></textarea>
		</div>
		<div class="form-group col-sm-1">
			<label>&nbsp;</label>
			<button th:if="${@perm.canWrite(parent)}" type="submit" class="btn btn-primary"
				th:text="#{ui.contraindication.add}"></button>
			<button th:unless="${@perm.canWrite(parent)}" type="submit" class="btn btn-primary"
				th:text="#{ui.contraindication.add}" disabled></button>
		</div>
	</form>

	<script type="text/javascript" th:inline="javascript">
		$(function () {
			let elt = $('#takekinds');
			elt.tagsinput({
				itemValue: 'value',
				itemText: 'text'
			});
			elt.tagsinput('add', { value: 11, text: /*[[#{takekinds.11}]]*/ '內用藥水劑' });
			elt.tagsinput('add', { value: 12, text: /*[[#{takekinds.12}]]*/ '內用藥錠劑' });
			elt.tagsinput('add', { value: 13, text: /*[[#{takekinds.13}]]*/ '內用藥粉劑' });
			elt.tagsinput('add', { value: 21, text: /*[[#{takekinds.21}]]*/ '注射藥' });
			elt.tagsinput('add', { value: 31, text: /*[[#{takekinds.31}]]*/ '點滴' });
			elt.tagsinput('add', { value: 41, text: /*[[#{takekinds.41}]]*/ '外用藥' });
			elt.tagsinput('add', { value: 51, text: /*[[#{takekinds.51}]]*/ '中藥' });
		});
	</script>
</div>

</html>